###########################################################
# Application
###########################################################
NODE_ENV=development
APP_NAME=saas_store
APP_PORT=4000
API_PREFIX=api
API_VERSION=v1
BOOTSTRAP_SUPER_ADMIN_EMAIL=platform@example.com

###########################################################
# Database (PostgreSQL)
###########################################################
DB_NAME=saas_store
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_SYNCHRONIZE=true
DB_LOGGING=true
DB_SSL=false

###########################################################
# JWT
###########################################################
JWT_ACCESS_SECRET=change_me_access_secret
JWT_ACCESS_EXPIRES_IN=5h
JWT_REFRESH_EXPIRES_IN=7d

###########################################################
# Password Hashing
###########################################################
BCRYPT_ROUNDS=12

###########################################################
# Redis  Cache
###########################################################
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=123456789
REDIS_DB=0
CACHE_TTL=300

###########################################################
# Mail (SMTP)
###########################################################
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=bassel
MAIL_PASSWORD=11223355
MAIL_FROM="booking_system <noreply@booking_system.com>"

###########################################################
# Stripe
###########################################################
STRIPE_SECRET_KEY=STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=STRIPE_WEBHOOK_SECRET
STRIPE_PUBLIC_KEY=STRIPE_PUBLIC_KEY


###########################################################
# Rate Limiting
###########################################################
THROTTLE_TTL=60
THROTTLE_LIMIT=100

###########################################################
# Swagger
###########################################################
SWAGGER_ENABLED=true
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=admin

###########################################################
# Logging
###########################################################
LOG_LEVEL=debug
LOG_PRETTY=true

###########################################################
# File Upload
###########################################################
MAX_FILE_SIZE=5242880
MAX_FILES=20

###########################################################
# CORS
###########################################################
CORS_ORIGIN=http://localhost:3000
CORS_CREDENTIALS=true
